.red{
    color:red;	
}
.derecha{
    margin: 0 auto;
    margin-left:45%;
    margin-top: 20%;
}
.izquierda{


}
.body{
    width: auto; 
    height: auto;
    background-color: #F4D58D;

}